@import '../../../style/glob/color.scss';

.Input-profile {
    width: 100%;
    display: block;
    &__wraper {
        width: 100%;
        border-bottom: 1px solid $color-gray-super-light;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
    &__input{
        border: none;
    }
  
}
