<div class="Input-profile">
    <div class="Input-profile__wraper">
        <span class="Input-profile__label">{{label}}</span>
        <input class="Input-profile__input" type="{{type}}" name="{{name}}">    
    </div>
</div>

    
