<div class="Input">
    <div class="Input__wraper">
        <input class="Input__input" type="{{type}}" name="{{name}}">
        {{#if label}}
            <span class="Input__label">{{label}}</span>
        {{/if}}
    </div>
</div>

    
