.button {
    width: 252px;
    padding: 16px 0;
    border: none;
    border-radius: 26px;

    background-color: #024058;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}