@import  '../../style/glob/color.scss';
.profile {
    display: flex;
    &__link-back {
        // width: 64;
        padding: 0 14px;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: $color-gray;
    }
    &__container {
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 510px;
    }
    &__avatar-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $color-black;
        
    }
    &__avatar {
        background-color: $color-gray;
        border-radius: 50%;
        cursor: pointer;
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .fa-camera {
            color: $color-blue;
            font-size: 46px;
        }
       
    }
    &__info {
        width: 510px;
    }
    &__pswd {
        padding-top: 20px;
    }
    &__action {
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
}