<div class="page-main page-500 bg-grey error-page ">
    <div class="big-text">500</div>
    <div class="main-text error-page__text">Мы уже фиксим</div>
    <div class="page-500__btn-container">
        {{> button lable="Назад к чатам" href="/#/chats"}}

    </div>
</div>