<div class="page-main page-500 bg-grey">
    <div class="big-text">500</div>
    <div class="main-text">Мы уже фиксим</div>
    <div class="page-500__btn-container">
        {{> button lable="Назад к чатам"}}
    </div>
</div>