<div class="page-main singIn bg-grey">
    <div class="singIn__container">
        <h1 class="singIn__titel h1">Вход</h1>
        <div class="singIn__login">
            {{> input type="text" name="login"}}
        </div>
        <div class="singIn__pswd">
            {{> input type="password" name="pswd"}}
        </div>
        <div class="singIn__btn-container">
            {{> button lable="Авторизоваться" href="/#/chats"}}
            <a href="/#/registration">Нет аккаута?</a>
        </div>
    </div>
</div>