<div class="page-main singIn bg-grey">
    <div class="wrapper">
        <div class="singIn__container container">
            <h1 class="singIn__titel h1">Вход</h1>
            <div class="frm__input">
                {{> input type="text" name="login" label="Логин"}}
            </div>
            <div class="frm__input">
                {{> input type="password" name="pswd" label="Пароль"}}
            </div>
            <div class="frm__btn-container">
                {{> button lable="Авторизоваться" href="/#/chats"}}
                <a href="/#/registration" class="link frm__link">Нет аккаута?</a>
            </div>
        </div>
    </div>   
</div>