<div class="page-main page-404 bg-grey error-page">
    <div class="big-text">404</div>
    <div class="main-text error-page__text">Страница не найдена</div>
    <div class="page-404__btn-container">
        {{> button lable="Назад к чатам" href="/#/chats"}}
    </div>
</div>