<div class="page-main page-500 bg-grey">
    <div class="big-text">400</div>
    <div class="main-text">Страница не найдена</div>
    <div class="page-500__btn-container">
        {{> button lable="Назад к чатам"}}
    </div>
</div>