<div class="main">
    <div><a href="/#/auth" class="link">Страница авторизации</a></div>
    <div><a href="/#/registration" class="link">Страница регистрации</a></div>
    <div><a href="/#/chats" class="link">Страница со списком чатов</a></div>
    {{!-- <a href="/#/message" class="link">Страница с чатом</a> --}}
    <div><a href="/#/profile" class="link">Страница профиля</a></div>
    <div><a href="/#/404" class="link">Страница 404</a></div>
    <div><a href="/#/500" class="link">Страница 500</a></div>
</div>

