<div class="main">
    <a href="/#/auth" class="link">Страница авторизации</a>
    <a href="/#/registration" class="link">Страница регистрации</a>
    <a href="/#/chats" class="link">Страница со списком чатов</a>
    {{!-- <a href="/#/message" class="link">Страница с чатом</a> --}}
    <a href="/#/profile" class="link">Страница профиля</a>
    <a href="/#/404" class="link">Страница 404</a>
    <a href="/#/500" class="link">Страница 500</a>
</div>

