<div class="page-main singUp bg-grey">
    <div class="wrapper">
        <div class="singUp__container container ">
            <h1 class="singUp__titel h1">Зарегистрироваться</h1>
            <div class="frm__input">
                {{> input type="text" name="email" label="Почта"}}
            </div>
            <div class="frm__input">
                {{> input type="text" name="login" label="Логин"}}
            </div>
            <div class="frm__input">
                {{> input type="text" name="name" label="Имя"}}
            </div>
            <div class="frm__input">
                {{> input type="text" name="surname" label="Фамилия"}}
            </div>
            <div class="frm__input">
                {{> input type="nimber" name="tel" label="Телефон"}}
            </div>
            <div class="frm__input">
                {{> input type="password" name="pswd" label="Пароль"}}
            </div>
            <div class="frm__input">
                {{> input type="password" name="repswd" label="Поаторите пароль"}}
            </div>
            <div class="frm__btn-container">
                {{> button lable="Авторизоваться" href="/#/chats"}}
                <a href="/#/auth" class="link frm__link">Войти</a>
            </div>
        </div>
    </div>
    
</div>