.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
        padding: 40px 0;
        font-weight: 500;
        font-size: 20px;
    }

}
